.wrapper {
  display: flex;
  min-height: 100vh;
}

.main {
  margin-left: 250px;
  width: calc(100% - 250px);
  min-height: 100vh;
  background-color: #f5f5f5;
}

@media (max-width: 1024px) {
  .main {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}

@media (max-width: 768px) {
  .main {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}

